    @charset "UTF-8";
    * {
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        text-decoration: none;
    }
    
    body {
        width: 90%;
        margin: 0 auto;
        background-color: #9db9d1;
        min-height: 100%;
        position: relative;
    }
    
    #logo {
        margin: 0 auto;
        width: 120px;
        height: 92px;
        margin-top: 30px;
    }
    
    h1 {
        font-family: 'Muli', sans-serif;
        font-weight: bold;
        color: #1f3648;
        text-align: center;
        margin-top: 10px;
    }
    
    #contenitore {
        width: 70%;
        margin: 0 auto;
        height: 300px;
        /* float: right; */
    }

    #contenitore2 {
        width: 70%;
        margin: 0 auto;
        height: 900px;
        /* float: right; */
    }
    
    #img-container {
        width: 70%;
        margin: 0 auto;
        height: 100%;
        /* float: right; */
        margin-bottom: 40px;
    }
    
    .bars {
        width: 300px;
        margin: 0 auto;
    }
    
    .bars_number {
        width: 100px;
        margin: 100px auto;
    }
    
    label.etichetta {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 26px;
        color: #354048;
    }
    label.etichettap {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 20px;
        color: #354048;
    }
    
    label.etichettas {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 26px;
        color: #354048;
        position: relative;
    }
    
    input#par {
        position: relative;
        left: 3px;
        bottom: 3px;
        height: 27px;
        border-radius: 17px;
        padding-left: 10px
    }

    input#autocomplete {
        position: relative;
        left: 3px;
        bottom: 3px;
        height: 27px;
        border-radius: 17px;
        padding-left: 10px
    }
    
    input[name='input_text[]'] {
        position: relative;
        left: 3px;
        bottom: 3px;
        height: 27px;
        border-radius: 17px;
        padding-left: 10px;
    }
    
    /* input[type=checkbox] {
        border-radius: 17px;


    } */

    input[id=addregexp] {
        position: relative;
        left: 3px;
        bottom: 3px;
        height: 27px;
        border-radius: 17px;
        padding-left: 5px;
        padding-right: 5px;
    }

    select[id=ls] {
        position: relative;
        left: 3px;
        bottom: 3px;
        height: 27px;
        border-radius: 17px;
        padding-left: 5px;
        padding-right: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }


    
    .btn.btn-default {
        background-color: #1f3648;
        padding: 8px;
        color: #5897c9;
        font-size: 20px;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
        border-style: solid;
        border-width: 3px;
        border-color: #5897c9;
        border-radius: 8px;
        box-shadow: 2px 2px 3px #354048;
        opacity: 1;
    }
    
    .btn.btn-default.btn-file {
        background-color: #9db9d1;
        color: #354048;
    }
    
    label a:hover {
        opacity: 0.7;
    }
    
    .form-group {
        margin-top: 20px;
    }
    
    #box-big {
        width: 600px;
        margin: 0 auto;
        margin-top: 80px;
        /* position: relative */
    }
    
    #box-huge {
        width: 70%;
        margin: 0 auto;
        margin-top: 80px;
        #height: 480px;
    }
    /*#box-huge-c {
    width: 80%;
    margin: 0 auto;
    #height: 480px;
    float: right;
    border-style: solid;
}
*/
    
    #box-1 {
        width: 350px;
        margin: 0 auto;
        margin-top: 80px;
        position: relative;
    }
    
    #box-2 {
        width: 100px;
        margin: 0 auto;
    }
    
    #box-3 {
        width: 280px;
        margin: 0 auto;
        margin-top: 80px;
        position: relative;
    }
    
    #box-4 {
        width: 350px;
        margin: 0 auto;
        position: relative;
    }
    
    #box-u {
        width: 170px;
        text-align: center;
        margin: 30px auto;
    }
    
    #box-model {
        width: 280px;
        text-align: center;
        margin: 50px auto;
    }
    
    #box-flash {
        width: 280px;
        text-align: center;
        margin: 50px auto;
    }
    
    .flashes {
        list-style-type: none;
        font-family: 'PT Sans Narrow', sans-serif;
    }
    
    #box-3 {
        width: 100px;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    #right {
        float: right;
        position: absolute;
        right: -5px;
        top: -5px;
    }
    
    .container {
        width: 20%;
        float: left;
    }
    
    #box-big img {
        margin-bottom: 20px;
    }
    /* #inputspace { */
    /*     margin-top: 20px; */
    /*     margin: 0 auto; */
    /* } */
    
    .progressbar {
        counter-reset: step;
    }
    
    .progressbar li {
        list-style-type: none;
        font-size: 12px;
        position: relative;
        color: #354048;
        font-family: 'Muli', sans-serif;
        font-size: 20px;
        height: 70px;
        opacity: 1;
    }
    
    .progressbar li::before {
        width: 40px;
        height: 40px;
        content: counter(step);
        counter-increment: step;
        line-height: 33px;
        border: 3px solid #354048;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        box-shadow: 2px 2px 3px #354048;
        background-color: #417295;
        color: white;
        opacity: 1;
    }
    
    .progressbar li:hover::before {
        border: 3px solid #1f3648;
        color: #1f3648;
        opacity: 0.95;
        font-weight: bold;
    }
    
    .progressbar li :hover {
        /* border-bottom-style: solid; */
        /* border-bottom-width: 2px; */
        /* border-bottom-color: black; */
        font-weight: bold;
    }
    
    .progressbar li::after {
        width: 4px;
        height: 100%;
        content: '';
        position: absolute;
        background-color: #354048;
        left: 20px;
        top: 50%;
        z-index: -1;
    }
    
    .progressbar li:last-child::after {
        content: none;
    }
    
    .progressbar li .active {
        color: #354048;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .progressbar li a {
        color: #354048;
    }
    
    .progressbar li.active::before {
        border-color: #417295;
        background-color: #08263c;
        color: white;
    }
    
    .progressbar li.active::after {
        background-color: #417295;
    }
    
    footer {
        margin-bottom: 10px;
        bottom: 0;
        width: 90%;
        margin: 0 auto;
        position: fixed;
        list-style-type: none;
        font-family: 'PT Sans Narrow', sans-serif;
        color: #354048;
        font-weight: bold;
    }
    
    div.gallery {
        margin: 0 auto;
        ;
        float: left;
        width: 48%;
        margin: 5px;
    }
    
    div#third-graph.gallery {
        float: none;
        margin: 0 auto;
    }
    
    #third-graph img {
        width: 100%;
        height: auto;
    }
    
    div.gallery img {
        width: 100%;
        height: auto;
    }
    
    table {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        border: solid 1px #000000;
    }
    
    tr {
        border: solid 1px #000000;
        width: 70px;
    }
    
    th {
        border: solid 1px #000000;
        width: 70px;
        padding: 5px;
    }
    td {
        padding: 5px;
        /*.progressbar li.active + li::after {
     background-color: lightcoral;
  }*/
    }
    #wrapper {
        /* width: 500px; */
        margin: 0 auto;
    }
    /*
1   #5897c9
2   #1f3648 piuscuro
3   #9db9d1
4   #354048
5   #417295

*/

ul.ui-autocomplete.ui-menu{width:400px}

/* 
    targets the first result's <a> element, 
    remove the a at the end to target the li itself 
*/
ul.ui-autocomplete.ui-menu li:first-child a{
    color:blue;
}
