{% extends 'myhead.html' %}
{% block content %}
{% include 'logo.html' %}
{% include 'navbar.html' %}
<div class="contenitore">
    <div id="box-big">
        <img src="/plot.png"/><br/>
        <form action="{{ url_for('frequencyRemoval') }}" method="post" enctype="multipart/form-data">
            <label class="etichetta">Insert minimum frequency </label>
            <input name="minFreq" type="text" value="0"/>
            <div id="box-3">
                <a><input type="submit" id="submit" class="btn btn-default" value="Submit" cols="30"></a>
            </div>
        </form>
    </div>
</div>
{% include 'flash.html' %}
{% endblock %}


