{% extends 'myhead.html' %}
{% block content %}
{% include 'logo.html' %}
{% include 'navbar.html' %}
<div class="contenitore">
    <div id="box-u">
        <h3>
            <ul class="flashes">
                {% if value == False %}
                <li>File selected is empty:</li>
                <li>Go back to <a href="{{ url_for('select') }}">Selection</a> or
                    <a href="{{ url_for('upload_form') }}">Upload</a></li>
                {% else %}
                <li>Insert a frequency value in [0,1]</li>
                <li>Go back to <a href="{{ url_for('frequency') }}">Frequency</a></li>
                {% endif %}
                {% include 'flash.html' %}
                {% include 'footer.html' %}
        </h3>
    </div>

</div>
{% endblock %}
