{% extends 'myhead.html' %}
{% block content %}
{% include 'logo.html' %}
{% include 'navbar.html' %}

<div id="contenitore">
    <div class="form-group">
        <div id="box-huge">
            <label class="etichetta">Welcome to Gothmog</label> <br/>
            Gothmog is a pipeline for distributional sematics analisys. <br/>
            It is based on <a href="https://github.com/valedica/twec">Twec</a> library.
            Gothmog is able to perform task as:
            corpus preprocessing, model training and semantic analisys. <br/> <br/>
            <label class="etichetta">Getting started</label>
            <br/>
            You can start the AI pipeline clicking
            <ul>
                <li><a href="/upload">Upload</a>: to upload a new text corpus </li>
                    <li><a href="/select">Select</a>: to select a text corpus from the server</li>
                    <li><a href="/upload">Corpus Upload</a>: to upload a new text corpus </li>
                    <li><a href="/selectmodel">Select a Model</a>: to select a trained model on the server</li>
                    <li><a href="/uploadmodel">Model Upload</a>: to upload a new model on the server </li>
            </ul>
            <label class="etichetta">About Gothmog</label>
            <ul>
                <li><a href="https://gitlab.com/matteounimib/gothmog/-/wikis/home">Documentation</a></li>
                <li><a href="https://gitlab.com/matteounimib/gothmog/-/raw/develop/LICENSE">License</a></li>
                <li><a href="https://gitlab.com/matteounimib/gothmog">Source Code</a></li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}
