{% extends 'myhead.html' %}
{% block content %}
{% include 'logo.html' %}
{% include 'navbar.html' %}

<div id='contenitore'>
     <div class="form-group">
          <div id="box-model">
               <label class="etichetta"><a href="/selectmodel">Select a trained model</a></label><br>
               <label class="etichetta"><a href="/uploadmodel">Upload a trained model</a></label><br>
               <label class="etichetta"><a href="/trainmodel">Train the preprocessed file</a></label>
          </div>
     </div>
</div>

{% include 'flash.html' %}
{% include 'footer.html' %}
{% endblock %}