{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Gothmog, a Twec Pipeline{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Muli:400,600,700|PT+Sans+Narrow&display=swap" rel="stylesheet">
<meta charset="utf-8"/>	
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/icon.ico" />
{% endblock %}
{% block content %}
{% endblock %}
