{% block content %}

<div class="container">
    <ul class="progressbar">
        <!-- Homepage -->
        <!-- <li{% if request.path == '/' %} class="active"{% endif %}>
             </li> -->
        <li{% if request.path == '/upload' %} class="active"{% endif %}>
            Upload Corpus
        </li>
        <li{% if request.path == '/select' %} class="active"{% endif %}>
            Select Corpus
        </li>
        <li{% if request.path == '/preprocessing' %} class="active"{% endif %}>
            Preprocessing
        </li>
        <li{% if request.path == '/preprocessing/frequency' %} class="active"{% endif %}>
            Frequency
        </li>
        <li{% if request.path == '/preprocessingStats' %} class="active"{% endif %}>
            Preprocessing Stats
        </li>
        <li{% if request.path == '/model' or request.path == '/selectmodel'
              or request.path == '/trainmodel' or request.path == '/uploadmodel' %}
              class="active"{% endif %}>
            Train Model
        </li>
        <li{% if request.path == '/query' %} class="active"{% endif %}>
            Query
        </li>
        <li{% if request.path == '/rank' %} class="active"{% endif %}>
            Word Rank
        </li>
        <li{% if request.path == '/similarity' %} class="active"{% endif %}>
             Word Similarity
        </li>
    </ul>
</div>
{% endblock %}
