{% extends 'myhead.html' %}
{% block content %}
{% include 'logo.html' %}
{% include 'navbar.html' %}


<div id="img-container">
    <div id="box-huge">
        <div class="gallery">
            <img src="./size.png" width="640" height="480"/>
        </div>
        <div class="gallery">
            <img src="./totWords.png" width="640" height="480"/>
        </div>
        <div id="third-graph" class="gallery">
            <img src="./totSingleWords.png" width="640" height="480"/>
        </div>
        {% include 'flash.html' %}
        <div id="box-u">
            <h3>
                <ul class="flashes">
                    <li><a href="/model"><label class="etichetta">Train Model</label></a></li>
                    <li><a href="/select">Back to Select Corpus</a></li>
                </ul>
            </h3>
        </div>
    </div>
</div>

{% endblock %}
