{% extends 'myhead.html' %} {% block content %} {% include 'logo.html' %} {% include 'navbar.html' %}
<div id="contenitore2">
    <form role="form" method="post" enctype="multipart/form-data">

        <div class="form-group row">
            <div id="box-big">
                <div align="left">
                    <input type="checkbox" name="Preproc" value="Alpha" class="form-check-input" id="Alpha">
                    <label class="etichettap">Remove non-alphanumeric characters</label> <br />
                    <input type="checkbox" name="Preproc" value="Email" id="Email">
                    <label class="etichettap">Email removal</label><br />
                    <input type="checkbox" name="Preproc" value="Pare" id="Pare">
                    <label class="etichettap">Parenthesis and symbol removal</label> <br />
                    <input type="checkbox" name="Preproc" value="Stop" id="Stop">
                    <label class="etichettap">Stopword removal</label> <br />
                    <input type="checkbox" name="Preproc" value="length_cut" id="length_cut">
                    <label class="etichettap">Minimum word length</label>
                    <input type="text" value="0" id="par" name="par"><br />
                    <div class="form-group">
                        <label class="etichetta">Stemming or Lemmatize </label>
                        <div class="col-sm-10">
                            <select name="ls" class="form-control form-control-sm">
                                <option value="none">None</option>
                                <option value="lemmatize">Lemmatize</option>
                                <option value="stemming">Stemming</option>
                            </select>
                            <label for="uname">If you select <it>lemmatize</it> or <it>stemming</it>, <it>non-alphanumeric
                                characters</it> will be removed by default.</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div id="box-big">
                    <label class="etichetta">
                        Custom Regexp Write</label><br />
                    <label for="uname">Add a regular expression if you want to remove more word occurrence </label>
                </div>
                <br/>
                <div id="box- 2">
                    <input type="button" class="btn btn-primary" value="Add Regexp" onclick="add_field();" id="addregexp">
                </div>
                <div id="wrapper">
                    <br/>
                    <ol id="field_div">
                    </ol>
                </div>
            </div>
            <br>
        </div>


            <div id="box-2">
                <br>
                <a><input type="submit" id="submit" class="btn btn-default" value="Submit" cols="30"></a>
            </div>
            {% include 'flash.html' %}



    </form>
</div>

{% if regexp != False %} {% for i in regexp %}
<script>
 var reg = '{{i}}';
 var total_text = document.getElementsByClassName("input_text");
 total_text = total_text.length + 1;
 field_div = document.getElementById("field_div");
 new_input = '<li id="input_text' + total_text + '_wrapper">';
 new_input += '<input type="text" class="form-control" name="input_text[]"" id="input_text' +
              total_text + '" value="' + reg + '">';
 new_input += "</li>";
 field_div.insertAdjacentHTML('beforeend', new_input);
</script>
{% endfor %} {% else %} {% endif %}
<script>
 function add_field() {
     var total_text = document.getElementsByClassName("input_text");
     total_text = total_text.length + 1;
     field_div = document.getElementById("field_div");
     new_input = '<li id="input_text' + total_text + '_wrapper">';
     new_input += '<input type="text" class="form-control" name="input_text[]"" id="input_text' +
                  total_text + '" placeholder="Enter Text">';
     new_input += '</li>';
     field_div.insertAdjacentHTML('beforeend', new_input);
 }
</script>
{% endblock %}
