{% extends 'myhead.html' %} {% block content %} {% include 'logo.html' %} {% include 'navbar.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/
jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 17px;
    }

    * html .ui-autocomplete {
        height: 100px;
        width: 158px;
    }
</style>
<div id="contenitore">
    <form role="form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div id="box-1">
                <div align="left">
                    <input type="radio" name="query" value="Global" checked id="Global">
                    <label class="etichetta">Global distance</label> <br>
                    <input type="radio" name="query" value="Local" id="Local">
                    <label class="etichettas">Local distance </label>
                    <input type="text" id="par" placeholder="Neighbours Number" name="par"><br />
                    <input type="radio" name="query" value="Cos" id="Cos">
                    <label class="etichetta">Cosine similarity</label><br><br>
                </div>
                <label class="etichetta" for="type_word">Insert a word:</label>
                <input name="autocomplete" id="autocomplete">
            </div>
        </div>

            <div id="box-2">
                <a><input type="submit" class="btn btn-default" value="Submit" cols="30" id="submit"></a>
            </div>

    </form>
</div>

<div id="box-4">
    <table>
        <tr>
            <th>
                <label class='etichetta'>Type</label>
            </th>
            <th>
                <label class='etichetta'>Word</label>
            </th>
            <th>
                <label class='etichetta'>Result</label>
            </th>
        </tr>
        {% for i in query %}
        <tr>
            {% for j in i %}
            <td>{{j}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% include 'flash.html' %}
    <p align="center">
        <label class="etichetta">Go to <a href="./rank">Words Rank</a></label><br>
        <label class="etichetta">or go to <a href="./similarity">Word Similarity</a></label>
    </p>
</div>

<script type="text/javascript">
    $("#autocomplete").autocomplete({
        source: function (request, response) {
            $.getJSON("/autocomplete", {
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function (data) {
                response(data.matching_results);
                console.log(matching_results);
            });

        },
        open: function () {
            $('.ui-autocomplete').css('width', '158px');
        }
    })
</script>
{% endblock %}
