{% extends 'myhead.html' %} {% block content %} {% include 'logo.html' %} {% include 'navbar.html' %}

<div id="contenitore">
    <form role="form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div id="box-1">
                <div align="left">
                    <label class="etichetta">Type of distance</label> <br />
                    <input type="radio" name="distance" value="global" id="global" checked>
                    <label class="etichetta">Global distance</label> <br>
                    <input type="radio" name="distance" value="local" id="local">
                    <label class="etichettas">Local distance </label>
                    <input type="text" id="par" placeholder="Neighbours Number" name="par"><br />
                    <input type="radio" name="distance" value="csim" id="csim">
                    <label class="etichetta">Cosine similarity</label><br><br>
                    <label class="etichetta">Number of top similar words</label> <br />
                    <input type="text" name="n" id="n"><br /><br />
                    <div id="box-2">
                        <a><input type="submit" id="submit" class="btn btn-default" value="Submit"
                                  cols="30"></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<br /><br /><br /><br />
<div id="box-4">
    <label class="etichetta">Most similar Words</label> <br />
    <table>
        <tr>
            <th>
                <label class='etichetta'>Word</label>
            </th>
            <th>
                <label class='etichetta'>Distance</label>
            </th>
        </tr>
        {% if top %}
        {% for w,d in top.items() %}
        <tr>
            <td>{{w}}</td>
            <td>{{d}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <label class="etichetta">Less similar Words</label> <br />
    <table>
        <tr>
            <th>
                <label class='etichetta'>Word</label>
            </th>
            <th>
                <label class='etichetta'>Distance</label>
            </th>
        </tr>
        {% if bottom %}
        {% for w,d in bottom.items() %}
        <tr>
            <td>{{w}}</td>
            <td>{{d}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    {% include 'flash.html' %}
    <p align="center">
        <label class="etichetta">Go to <a href="./query">Query</a></label><br>
        <label class="etichetta">or go to <a href="./similarity">Word Similarity</a></label>
    </p>
</div>


{% endblock %}
