{% extends 'myhead.html' %}
{% block content %}
{% include 'logo.html' %}
{% include 'navbar.html' %}


{% if not files %}
<div id="box-u">
    <label class="etichetta"> No model present </br>
        <a href="/uploadmodel">Upload a new model</a></label>
</div>
{% else %}
<div id="contenitore">
    <div id="box-big">
        <div class="bars">
            <form action="{{ url_for('select_model') }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <select class="form-control" name="first_model">
                        {% for file in files %}
                        <option value="{{ file }}">{{ file }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="second_model">
                        {% for file in files %}
                        <option value="{{ file }}">{{ file }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="box-2">
                    <a><input type="submit" class="btn btn-default" value="Submit" id="submit"></a>
                </div>
            </form>
        </div>
        <a href="/model"><label class="etichetta">Go back</label></a>
    </div>
{% endif %}

{% include 'flash.html' %}
{% include 'footer.html' %}
{% endblock %}