{% extends 'myhead.html' %}
{% block content %}
{% include 'logo.html' %}
{% include 'navbar.html' %}


<div id="contenitore">
    <div class="form-group">
        <div id="box-big">
            {% if not files %}
            <label class="etichetta"> No file present</label> </br>
            <label class="etichetta"><a href="/upload">Upload a new file</a></label>
            {% else %}
            <p align="center">
                <div class="bars">
                    <form action="{{ url_for('select') }}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <select class="form-control" name="first">
                                {% for file in files %}
                                <option value="{{ file }}">{{ file }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="second">
                                {% for file in files %}
                                <option value="{{ file }}">{{ file }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                            <div id="box-2">
                                <a><input type="submit" id="submit" class="btn btn-default" value="Submit"></a>
                            </div>
  
                    </form>
            </p>
                </div>
        </div>
    </div>
</div>
{% endif %}
{% include 'flash.html' %}
{% include 'footer.html' %}
{% endblock %}
