{% extends 'myhead.html' %} {% block content %} {% include 'logo.html' %} {% include 'navbar.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/
jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 17px;
    }

    * html .ui-autocomplete {
        height: 100px;
        width: 158px;
    }
</style>

<div id="contenitore">
    <form role="form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div id="box-1">
                <label class="etichetta">Choose the starting model </label>
                <select class="form-control" name="first_model" id="first_model">
                    {% for model in models %}
                    <option value="{{ model }}">{{ model }}</option>
                    {% endfor %}
                </select>
                <label class="etichetta">Choose the target model </label>
                <select class="form-control" name="second_model" id="second_model">
                    {% for model in models %}
                    <option value="{{ model }}">{{ model }}</option>
                    {% endfor %}
                </select>
                <label class="etichetta">Choose a word: </label>
                <input name="autocomplete" id="autocomplete">
                <label class="etichetta">How many words: </label>
                <input name="par" id="par">
            </div>
        </div>
            <div id="box-2">
                <a><input type="submit" id="submit" class="btn btn-default" value="Submit" cols="30"></a>
            </div>
    </form>
</div>

<div id="box-big">
    {% include 'flash.html' %}
    <table>
        <tr>
            <th>
                <label class='etichetta'>From</label>
            </th>
            <th>
                <label class='etichetta'>To</label>
            </th>
            <th>
                <label class='etichetta'>Word</label>
            </th>
            <th>
                <label class='etichetta'>Result</label>
            </th>
        </tr>
        {% for i in sim %}
        <tr>
            {% for j in i %}
            <td>{{j}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <p align="center">
        <label class="etichetta">Go to <a href="./rank">Words Rank</a></label><br>
        <label class="etichetta">or go to <a href="./query">Query</a></label>
    </p>
    <script type="text/javascript">
        $("#autocomplete").autocomplete({
            source: function (request, response) {
                $.getJSON("/autocomplete", {
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                }, function (data) {
                    response(data.matching_results);
                    console.log(matching_results);
                });

            },
            open: function () {
                $('.ui-autocomplete').css('width', '158px');
            }
        })
    </script>

    {% endblock %}
