{% extends 'myhead.html' %}
{% block content %}
{% include 'logo.html' %}
{% include 'navbar.html' %}

<div id="contenitore">
    <div class="form-group">
        <div id="box-model">
            {% if data == False%}

            <form role="form" method="post" enctype="multipart/form-data">
                <p align="center">
                    <label class="etichetta"> You have to select or upload two model </label><br>
                    <label class="etichetta"><a href="/selectmodel ">Select model</a></label><br>
                    <label class="etichetta"><a href="/uploadmodel">Upload model</a></label>
                </p>
            </form>

            {% else %}

            <form role="form" method="post" enctype="multipart/form-data">
                <label class="etichetta">The file previously used will be added to the train process</label>
                <div class="form-group">
                    <a><input type="submit" id="submit" class="btn btn-default" value="Submit" cols="30"></a>
                </div>
            </form>

            {% endif %}
        </div>
    </div>
</div>

{% include 'flash.html' %}
{% include 'footer.html' %}
{% endblock %}
