{% extends 'myhead.html' %}
{% block content %}
{% include 'logo.html' %}
{% include 'navbar.html' %}

<div id="contenitore">
    <form method="post" action="/uploadmodel" enctype="multipart/form-data">
        <div class="form-group">
            <div id="box-1">
                <p align="center">
                    <label class="etichetta">Upload a model file</label>
                    <label class="btn btn-default btn-file">
                        <a>Browser<input type="file" name="file" autocomplete="off" required style="display: none;"></a>
                    </label>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div id="box-2">
                <a><input type="submit" class="btn btn-default" value="Submit"></a>
            </div>
        </div>
    </form>
    <span style="float: right"><label class="etichetta"><a href="/selectmodel">Go to selection
        model</a></label></span>
    <span style="float: left"><label class="etichetta"><a href="/model">Go back</a></label></span>
</div>

{% include 'flash.html' %}
{% include 'footer.html' %}
{% endblock %}
