{% extends 'myhead.html' %}
{% block content %}
{% include 'logo.html' %}
{% include 'navbar.html' %}

<div id="contenitore">
    <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
            <div id="box-1">
                <label class="etichetta">Select a text file to upload</label>
                <label class="btn btn-default btn-file" id="right">
                    <a>Browser<input type="file" name="file" autocomplete="off" required
                                     style="display: none;"></a>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div id="box-2">
                <a><input type="submit" class="btn btn-default" value="Submit"></a>
            </div>
        </div>
    </form>
</div>

{% include 'flash.html' %}
{% include 'footer.html' %}
{% endblock %}
